cancelacion-web/src/main/webapp/WEB-INF/wsdl/CartaCancelacionService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="CartaCancelacionService" targetNamespace="http://webservices.cancelacion.gisnet.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.cancelacion.gisnet.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.cancelacion.gisnet.com/" schemaLocation="CartaCancelacionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registraCartaCancelacion">
    <part element="tns:registraCartaCancelacion" name="parameters"/>
  </message>
  <message name="registraCartaCancelacionResponse">
    <part element="tns:registraCartaCancelacionResponse" name="parameters"/>
  </message>
  <message name="actualizaCartaCancelacion">
    <part element="tns:actualizaCartaCancelacion" name="parameters"/>
  </message>
  <message name="actualizaCartaCancelacionResponse">
    <part element="tns:actualizaCartaCancelacionResponse" name="parameters"/>
  </message>
  <message name="consultaCartaCancelacion">
    <part element="tns:consultaCartaCancelacion" name="parameters"/>
  </message>
  <message name="consultaCartaCancelacionResponse">
    <part element="tns:consultaCartaCancelacionResponse" name="parameters"/>
  </message>
  <portType name="CartaCancelacionDelegate">
    <operation name="registraCartaCancelacion">
      <input message="tns:registraCartaCancelacion" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/registraCartaCancelacionRequest"/>
      <output message="tns:registraCartaCancelacionResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/registraCartaCancelacionResponse"/>
    </operation>
    <operation name="actualizaCartaCancelacion">
      <input message="tns:actualizaCartaCancelacion" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/actualizaCartaCancelacionRequest"/>
      <output message="tns:actualizaCartaCancelacionResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/actualizaCartaCancelacionResponse"/>
    </operation>
    <operation name="consultaCartaCancelacion">
      <input message="tns:consultaCartaCancelacion" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/consultaCartaCancelacionRequest"/>
      <output message="tns:consultaCartaCancelacionResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/CartaCancelacionDelegate/consultaCartaCancelacionResponse"/>
    </operation>
  </portType>
  <binding name="CartaCancelacionPortBinding" type="tns:CartaCancelacionDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="registraCartaCancelacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizaCartaCancelacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCartaCancelacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CartaCancelacionService">
    <port binding="tns:CartaCancelacionPortBinding" name="CartaCancelacionPort">
      <soap:address location="http://localhost:9080/cancelacion-web/CartaCancelacionService"/>
    </port>
  </service>
</definitions>