cancelacion-web/src/main/webapp/WEB-INF/wsdl/ConsultarListaDeNotariosService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ConsultarListaDeNotariosService" targetNamespace="http://webservices.cancelacion.gisnet.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.cancelacion.gisnet.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.cancelacion.gisnet.com/" schemaLocation="ConsultarListaDeNotariosService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarListaDeNotarios">
    <part element="tns:consultarListaDeNotarios" name="parameters"/>
  </message>
  <message name="consultarListaDeNotariosResponse">
    <part element="tns:consultarListaDeNotariosResponse" name="parameters"/>
  </message>
  <message name="entidad">
    <part element="tns:entidad" name="parameters"/>
  </message>
  <message name="entidadResponse">
    <part element="tns:entidadResponse" name="parameters"/>
  </message>
  <message name="consultarListaDeNotariosPorEntidad">
    <part element="tns:consultarListaDeNotariosPorEntidad" name="parameters"/>
  </message>
  <message name="consultarListaDeNotariosPorEntidadResponse">
    <part element="tns:consultarListaDeNotariosPorEntidadResponse" name="parameters"/>
  </message>
  <portType name="ConsultarListaDeNotariosDelegate">
    <operation name="consultarListaDeNotarios">
      <input message="tns:consultarListaDeNotarios" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/consultarListaDeNotariosRequest"/>
      <output message="tns:consultarListaDeNotariosResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/consultarListaDeNotariosResponse"/>
    </operation>
    <operation name="entidad">
      <input message="tns:entidad" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/entidadRequest"/>
      <output message="tns:entidadResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/entidadResponse"/>
    </operation>
    <operation name="consultarListaDeNotariosPorEntidad">
      <input message="tns:consultarListaDeNotariosPorEntidad" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/consultarListaDeNotariosPorEntidadRequest"/>
      <output message="tns:consultarListaDeNotariosPorEntidadResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotariosDelegate/consultarListaDeNotariosPorEntidadResponse"/>
    </operation>
  </portType>
  <binding name="ConsultarListaDeNotariosPortBinding" type="tns:ConsultarListaDeNotariosDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarListaDeNotarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="entidad">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarListaDeNotariosPorEntidad">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConsultarListaDeNotariosService">
    <port binding="tns:ConsultarListaDeNotariosPortBinding" name="ConsultarListaDeNotariosPort">
      <soap:address location="http://localhost:9080/cancelacion-web/ConsultarListaDeNotariosService"/>
    </port>
  </service>
</definitions>