cancelacion-web/src/main/webapp/WEB-INF/wsdl/RegistraActualizaYConsultaCasoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="RegistraActualizaYConsultaCasoService" targetNamespace="http://webservices.cancelacion.gisnet.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.cancelacion.gisnet.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.cancelacion.gisnet.com/" schemaLocation="RegistraActualizaYConsultaCasoService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registraCaso">
    <part element="tns:registraCaso" name="parameters"/>
  </message>
  <message name="registraCasoResponse">
    <part element="tns:registraCasoResponse" name="parameters"/>
  </message>
  <message name="actualizaCaso">
    <part element="tns:actualizaCaso" name="parameters"/>
  </message>
  <message name="actualizaCasoResponse">
    <part element="tns:actualizaCasoResponse" name="parameters"/>
  </message>
  <message name="consultaCaso">
    <part element="tns:consultaCaso" name="parameters"/>
  </message>
  <message name="consultaCasoResponse">
    <part element="tns:consultaCasoResponse" name="parameters"/>
  </message>
  <message name="estadoDelCaso">
    <part element="tns:estadoDelCaso" name="parameters"/>
  </message>
  <message name="estadoDelCasoResponse">
    <part element="tns:estadoDelCasoResponse" name="parameters"/>
  </message>
  <portType name="RegistraActualizaYConsultaCasoDelegate">
    <operation name="registraCaso">
      <input message="tns:registraCaso" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/registraCasoRequest"/>
      <output message="tns:registraCasoResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/registraCasoResponse"/>
    </operation>
    <operation name="actualizaCaso">
      <input message="tns:actualizaCaso" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/actualizaCasoRequest"/>
      <output message="tns:actualizaCasoResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/actualizaCasoResponse"/>
    </operation>
    <operation name="consultaCaso">
      <input message="tns:consultaCaso" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/consultaCasoRequest"/>
      <output message="tns:consultaCasoResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/consultaCasoResponse"/>
    </operation>
    <operation name="estadoDelCaso">
      <input message="tns:estadoDelCaso" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/estadoDelCasoRequest"/>
      <output message="tns:estadoDelCasoResponse" wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCasoDelegate/estadoDelCasoResponse"/>
    </operation>
  </portType>
  <binding name="RegistraActualizaYConsultaCasoPortBinding" type="tns:RegistraActualizaYConsultaCasoDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="registraCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizaCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="estadoDelCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RegistraActualizaYConsultaCasoService">
    <port binding="tns:RegistraActualizaYConsultaCasoPortBinding" name="RegistraActualizaYConsultaCasoPort">
      <soap:address location="http://localhost:9080/cancelacion-web/RegistraActualizaYConsultaCasoService"/>
    </port>
  </service>
</definitions>